@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .periodic__time-item
    padding: 10px 25px
  .header__nav-item
    padding: 0 3px
  .header__auth-link
    width: 65px
    padding: 10px 5px
  .features__item-heading
    font-size: 1.5rem
  .steps__slider
    margin-bottom: 40px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .contact__form-lastName
    float: none
  .contact__form-comment
    float: none
  .header__image
    display: none
  .testimonials__quote
    margin-bottom: 20px
  .membership__card
    margin-bottom: 20px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .footer__list-item
    display: block
    text-align: center
    margin-right: 0
  .footer__social
    float: none
    text-align: center
    margin-top: 20px
  .contact__form-reset
    margin-left: 0
    margin-top: 20px
  .next, .prev
    width: 20px
  .next
    right: -33px
  .prev
    left: -33px
  .steps__slider-leftIcon,
  .steps__slider-rightIcon
    font-size: 3rem
  .steps__slider-rightIcon
    right: 5px
  .steps__slider-leftIcon
    left: 5px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
    /**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

