@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
    .periodic__time-item
        padding: 10px 25px
    .header__nav-item
        padding: 0 3px
    .header__auth-link
        width: 65px
        padding: 10px 5px
    .features__item-heading
        font-size: 1.5rem
    .header__image-description
        top: 30px
        font-size: 4rem
    .steps__slider-item
        padding-left: 20px
    .slideshow-container
        top: 90px
    .mySlides
        top: 18px
        left: 68px
        width: 433px
        height: 272px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
    .contact__form-lastName,
    .contact__form-comment
        float: none
    .header__image
        display: none
    .testimonials__quote,
    .membership__card
        margin-bottom: 20px
    .footer
        padding: 2rem 0 100px
    .footer__wrap
        display: block
    .features
        padding-top: 4rem
    .contact__form-message
        left: 5%
        transform: translateX(0)
    .steps__heading
        padding-bottom: 2rem
        text-align: center
    .slideshow-container
        top: 25px
        left: calc(50% - 340px)
    .mySlides
        top: 22px
        left: 82px
        width: 521px
        height: 326px
    .header__auth
        max-width: 235px
        width: 100%
        float: right
    .header__auth-item
        margin-right: 10px
    .header__mobileNav-list
        top: 120px
    .cloud__wrapper
        display: none

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
    .footer__social,
    .reception__subheading,
    .title
        text-align: center
    .header__logo-img
        margin: auto
    .footer__list-item
        display: block
        text-align: center
        margin-right: 0
    .footer__social
        float: none
        margin-top: 20px
    .contact__form-reset
        margin-left: 0
        margin-top: 20px
    .slideshow-container
        background: none
        left: 0
        top: 0
        padding: 15px
        height: 330px
    .mySlides
        position: static
        top: 0
        left: 0
        max-width: 521px
        margin: auto
        width: 100%
        height: 100%
    .testimonials__quote-text
        height: auto
    .header__mobileNav-list
        top: 110px
    .reception__wrapper
        margin: 0 auto
    .reception__heading
        font-size: 3rem

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
    .header__auth
        max-width: 185px
        width: 100%
        float: right
    .header__auth-item
        margin-right: 3px
    .header__auth-link
        width: 55px
        padding: 5px 0
    .header__mobileNav-list
        top: 100px
    .footer__button
        margin-left: 0
    .reception-header__auth-link
        width: 70px
        padding: 10px 0
    .reception-header__auth-item
        margin-right: 15px
    .reception__heading
        font-size: 2rem

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

