$default-font: "Open Sans", sans-serif
$accent: orange
$headerHeadingColor: #fff
$headerHeadingSpanColor: #398d97
$headerSubheadingColor: #fff
$headerTextColor: #fff
$headerButtonColor: #fff
$headerNavLinkColor: #fff
$headerAuthSignInLinkColor: #c3814d
$headerStatisticColor: #ec7e27
$statisticBG: #080808
$periodicLabelBG: #faad11