@import "fonts"
@import "libs"
@import "vars"

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	width: 100%
	min-height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

h1, h2, h3, h4, h5, h6, p
	padding: 0
	margin: 0

.p0
	padding: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto

/*---Header---*/
.header
	background: #181818
	background: radial-gradient(ellipse at center, #181818 15%,#1f2326 30%,#1e1d22 45%,#1f2326 53%,#181818 63%,#181818 77%,#181818 87%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#181818',GradientType=1 )
	padding-top: 2.85rem
	&__nav
		&-list
			list-style-type: none
			padding: 0
		&-item
			display: inline-block
			padding: 0 10px
			&:first-of-type
				padding: 0 10px 0 0
			&:last-of-type
				padding: 0 0 0 10px
		&-link
			display: block
			color: $headerNavLinkColor
			transition: all .4s ease
			&:hover, &:focus
				color: $headerNavLinkColor
	&__auth
		&-list
			list-style-type: none
			padding: 0
			margin: 0
		&-item
			display: inline-block
			text-align: center
			margin-right: 18px
			margin-left: -3px
			&:last-of-type
				margin-right: 0
			&:first-of-type
				margin-left: 0
		&-item:first-of-type .header__auth-link
			font-weight: 700
			background: #1f2326
			color: $headerAuthSignInLinkColor
			&:hover, &:focus
				color: $headerAuthSignInLinkColor
		&-link
			display: inline-block
			background: #079797
			width: 85px
			padding: 10px 15px
			text-transform: uppercase
			color: $headerNavLinkColor
			transition: all .4s ease
			&:hover, &:focus
				color: $headerNavLinkColor
	&__heading
		color: $headerHeadingColor
		padding: 2.85rem 0
		text-transform: uppercase
		font-weight: 400
		font-family: "Anton", sans-serif
		font-size: 4rem
		line-height: 1.1
		letter-spacing: 1.8px
		&-span
			color: $headerHeadingSpanColor
	&__subheading
		color: $headerSubheadingColor
		font-size: 2.6rem
		line-height: 1.1
	&__subheading > span
		display: block
		font-size: 2.6rem
		padding-bottom: 2.85rem
	&__text
		color: $headerTextColor
		text-transform: uppercase
		font-size: 2.3rem
	&__stage
		text-transform: uppercase
		font-size: 2.3rem
		padding: 2.85rem 0
		font-family: "Anton", sans-serif
		font-weight: 400
	&__button
		display: inline-block
		padding: 10px 25px
		margin-bottom: 2.5rem
		text-transform: uppercase
		text-align: center
		font-size: 2rem
		font-weight: 700
		border-radius: 5px
		color: $headerButtonColor
		background: #faae0b
		background: linear-gradient(to right, #faae0b 0%,#f57d1e 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae0b', endColorstr='#f57d1e',GradientType=1 )
		transition: all .4s ease-in-out
		&:hover, &:focus
			color: $headerButtonColor
	&__image
		display: block
		position: relative
		top: 8rem
		&-description
			position: absolute
			font-size: 5rem
			color: #fff
			font-weight: 700
			font-family: 'Kreon', serif
			top: 38px
			left: 25px
			transform: rotate(-1deg)
			line-height: 1.1
			text-align: center
	&__statistic
		color: $headerStatisticColor
		font-size: 3rem
		text-transform: uppercase
		font-family: "Anton", sans-serif
		font-weight: 400
		line-height: 1.1
		text-align: center
/*---Header---end---*/
/*---Statistic---*/
.statistic
	background: $statisticBG
	padding: 2.5rem 0
/*---Statistic---end---*/
/*---Reception---*/
.reception-header 
    background: #181818
    padding: 1.8rem 0 1.3rem
    position: relative
    z-index: 1
    box-shadow: -5px 2px 4px 2px rgba(0, 0, 0, .75)
.reception-header__nav-list 
    list-style-type: none
    padding: 0
.reception-header__nav-item 
    display: inline-block
    padding: 0 10px
.reception-header__nav-item:first-of-type 
    padding: 0 10px 0 0
.reception-header__nav-item:last-of-type 
    padding: 0 0 0 10px
.reception-header__nav-link 
    display: block
    color: #fff
    transition: all .4s ease
.reception-header__nav-link:focus,
.reception-header__nav-link:hover 
    color: #fff
.reception-header__auth 
    float: right
.reception-header__auth-list 
    list-style-type: none
    padding: 0
    margin: 0
.reception-header__auth-item 
    display: inline-block
    text-align: center
    margin-right: 18px
    margin-left: -4px
.reception-header__auth-item:last-of-type 
    margin-right: 0
.reception-header__auth-item:first-of-type 
    margin-left: 0
.reception-header__auth-item:first-of-type .header__auth-link 
    font-weight: 700
    background: #1f2326
    color: #c3814d
.reception-header__auth-item:first-of-type .header__auth-link:focus,
.reception-header__auth-item:first-of-type .header__auth-link:hover 
    color: #c3814d
.reception-header__auth-link 
    display: inline-block
    background: #079797
    width: 85px
    padding: 10px 15px
    text-transform: uppercase
    color: #fff
    -webkit-transition: all .4s ease
    -o-transition: all .4s ease
    transition: all .4s ease
.reception-header__auth-link:focus,
.reception-header__auth-link:hover 
    color: #fff
.title 
    width: 100%
    background: #e8e8e8
.reception 
    background: #fff
    padding-bottom: 3rem
.reception__heading 
    text-transform: uppercase
    font-size: 4rem
    color: #6a6a6a
    line-height: 1.3
    padding: 1rem 0
.reception__subheading 
    padding: 3rem 0 1.5rem
    text-transform: uppercase
    font-size: 3rem
    color: #009891
    line-height: 1.3
.reception__wrapper 
    max-width: 360px
	margin-bottom: 20px
.reception__count 
    font-size: 2rem
    color: #ec7e27
    line-height: 1.3
.reception__list 
    margin: 0
    list-style-type: none
    padding-left: 3px
.features__item,
.periodic__time 
    margin-bottom: 4rem
.reception__list-item 
    font-size: 1.6rem
    color: #6a6a6a
    font-weight: 700
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
.reception__list-item:before 
    content: '-'
    font-size: 1.6rem
.row.is-flex
	display: flex
	flex-wrap: wrap
.row.is-flex > [class*='col-']
	display: flex
	flex-direction: column
.is-flex .reception__wrapper
	background: none
	position: static
.is-flex [class*="col-"]
	background: #fff
/*---Reception---end---*/
/*---Periodic---*/
.periodic
	padding: 4rem 0 0
	background: #f8f8f8
	&__heading
		text-align: center
		font-size: 4rem
		color: #009891
		line-height: 1.3
		padding-bottom: 4rem
	&__time
		box-shadow: 0 0 20px rgba(70, 60, 53, 0.3)
		position: relative
		margin-bottom: 4rem
		&-label
			background: $periodicLabelBG
			text-transform: uppercase
			width: max-content
			padding: 10px 30px
			color: #000
			font-weight: 700
			&--even
				background: #00cfc7
		&-item
			padding: 10px 30px
			color: #000
			font-size: 1.6rem
			border-bottom: 1px solid #cab65f
			&:last-of-type
				border-bottom: none
			&-lang
				text-transform: uppercase
				font-weight: 700
			&-check
				float: right
				text-transform: uppercase
				color: #cd8650
				&:hover, &:focus
					text-decoration: underline
			&-math
				text-transform: uppercase
				font-weight: 700
	&__description
		color: #fff
		padding: 39px 25px
		background: #00cfc7
		box-shadow: 0 0 20px rgba(70, 60, 53, 0.3)
		&-heading
			font-size: 3rem
			line-height: 1.3
		&-text
			font-size: 2.3rem
			line-height: 1.3
/*---Periodic---end---*/
/*---Features---*/
.features
	background: #f8f8f8
	color: #727272
	&__heading
		text-align: center
		font-size: 4rem
		color: #009891
	&__subheading
		text-align: center
		font-size: 1.9rem
		line-height: 1
		padding-bottom: 4rem
	&__item
		margin-bottom: 4rem
		&-image
			display: inline-block
			float: left
			margin-right: 20px
		&-wrap
			overflow-x: hidden
		&-heading
			font-size: 1.9rem
			padding-bottom: 1rem
		&-subheading
			font-size: 1.5rem
			line-height: 1.3
/*---Features---end---*/
/*---Steps---*/
.steps
	padding: 4rem 0
	&__slider
		&-list
			padding: 0
			list-style-type: none
		&-link
			display: block
			width: max-content
			text-decoration: none
			cursor: pointer
			&:hover, &:focus
				color: #e9b900
			&-number
				color: #e9b900
				font-size: 2rem
				text-transform: uppercase
			&-text
				font-size: 1.5rem
				color: #5b5b5b
				line-height: 1.2
				&:hover, &:focus
					cursor: pointer
		&-item
			position: relative
			padding-left: 40px
			&::before
				content: ""
				position: absolute
				top: 11px
				left: 0
				background: #e9b900
				width: 10px
				height: 10px
				border-radius: 50%
			&.active
				font-weight: 700
		&-leftIcon,
		&-rightIcon
			position: absolute
			top: 50%
			transform: translateY(-50%)
			font-size: 5rem
		&-leftIcon
			left: 1rem
		&-rightIcon
			right: 1rem
	&__heading
		font-size: 4rem
		color: #009891
		padding-bottom: 4rem
/* Slideshow container */
.slideshow-container
	max-width: 100%
	height: 393px
	position: relative
	top: 55px
	background: url("../img/macbook.png") no-repeat
	background-size: contain
.slideshow-container-image
	width: 100%
.mySlides
	display: none
	position: absolute
	top: 22px
	left: 82px
	width: 521px
	height: 326px
.mySlides-image
	width: 100%
	height: 100%
.prev, .next
	cursor: pointer
	position: absolute
	top: 50px
	width: 200px
	height: 430px
	padding: 16px
	color: #fff
	font-weight: bold
	font-size: 18px
	transition: 0.6s ease
	border-radius: 3px 0 0 3px
	background-color: transparent
	box-shadow: 0 0 20px 0 rgba(70, 60, 53, 0.3)
.next
	border-radius: 0 3px 3px 0
	right: -201px
.prev
	left: -201px
.prev:hover, .next:hover
	text-decoration: none
	color: rgba(0,0,0,0.8)
	background-color: rgba(0,0,0,0.1)
.text
	color: #f2f2f2
	font-size: 15px
	padding: 8px 12px
	position: absolute
	bottom: 8px
	width: 100%
	text-align: center
.numbertext
	color: #f2f2f2
	font-size: 12px
	padding: 8px 12px
	position: absolute
	top: 0
.dot.active > .steps__slider-link
	text-decoration: underline
	color: #e9b900
.fade
	animation-name: fade
	animation-duration: 0.4s
@keyframes fade
	from
		opacity: .9
	to
		opacity: 1
/*---Membership---*/
.membership
	padding: 4rem 0
	background: #f8f8f8
	color: #727272
	&__heading
		text-align: center
		font-size: 4rem
		color: #009891
		padding-bottom: 4rem
		line-height: 1.3
	&__card
		box-shadow: 0 0 20px rgba(70, 60, 53, 0.3)
		position: relative
		text-align: center
		font-weight: 700
		&-header
			text-transform: uppercase
			background: #00d1cb
			color: #000
			padding: 10px
			font-size: 2.5rem
			&--even
				background: #faad11
		&-name
			color: #00d1cb
			font-weight: 700
			font-size: 3.5rem
			&--even
				color: #faad11
		&-period,
		&-count,
		&-management
            position: relative
            color: #646464
            font-size: 1.6rem
            font-weight: 400
            &:after
                content: ""
                position: absolute
                top: 100%
                left: 50%
                transform: translateX(-50%)
                width: 18rem
                height: 1px
                background: #00d1cb
		&-period--even,
		&-count--even,
		&-management--even
			&::after
				background: #faad11
		&-reports
			color: #646464
			font-size: 2.5rem
		&-button
			display: inline-block
			background: #039c97
			background: linear-gradient(to right, #039c97 0%,#009c8f 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#039c97', endColorstr='#009c8f',GradientType=1 )
			width: 125px
			padding: 10px 15px
			text-transform: uppercase
			color: #fff
			transition: all .4s ease
			margin: 2rem 0
			&:hover, &:focus
				color: #fff
			&--even
				background: #fbae0a
				background: linear-gradient(to right, #fbae0a 0%,#f07e28 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbae0a', endColorstr='#f07e28',GradientType=1 )
/*---Membership---end---*/
/*---Testimonials---*/
.testimonials
	padding: 4rem 0
	&__heading
		text-align: center
		font-size: 4rem
		padding-bottom: 4rem
		color: #009891
	&__quote
		box-shadow: 0 0 20px rgba(70, 60, 53, 0.3)
		&-brackets
			padding: 1rem 0
			margin-left: 2rem
		&-text
			line-height: 1.2
			color: #000
			font-size: 1.7rem
			padding: 1rem 2rem
			height: 160px
			overflow: hidden
			border-bottom: 1px solid #faad11
		&-images
			display: inline-block
			float: left
			padding: 1rem 0
			margin: 0 2rem
		&-name
			text-transform: uppercase
			color: #454545
			font-size: 2rem
			padding: 1rem 0 0
			font-weight: 700
		&-dsc
			color: #454545
			font-size: 1.6rem
			padding: 0 0 2rem
/*---Testimonials---end---*/
/*---Contact---*/
.contact
	padding: 4rem 0
	background: #080808
	border-bottom: 5px solid #fff
	&__heading
		font-size: 4rem
		padding-bottom: 4rem
		color: #009891
		text-transform: uppercase
	&__form
		&-firstName
			@include contactInput
		&-message
			position: absolute
			bottom: 5%
			left: 50%
			transform: translateX(-50%)
			display: none
			color: #009891
		&-lastName
			@include contactInput
			float: right
		&-email
			@include contactInput
		&-comment
			@include contactInput
			float: right
		&-button
			@include contactButton
			@include transition
			&:hover, &:focus
				color: #000
				background: #eeeeee
				background: linear-gradient(to bottom, #eeeeee 0%,#6e6e6e 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#6e6e6e',GradientType=0 )
		&-reset
			@include contactButton
			@include transition
			margin-left: calc(50% - 92.5px)
			&:hover, &:focus
				color: #000
				background: #eeeeee
				background: linear-gradient(to bottom, #eeeeee 0%,#6e6e6e 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#6e6e6e',GradientType=0 )
/*---Contact---end---*/
/*---Footer---*/
.footer
	position: relative
	padding: 2rem 0
	background: #080808
	&__list
		margin: 0
		padding: 0
		list-style-type: none
		&-item
			display: inline-block
			margin-right: 30px
			&:last-of-type
				margin-right: 0
		&-link
			display: block
			color: #fff
			font-size: 1.6rem
			&:hover, &:focus
				color: #fff
	&__social
		float: right
		&-item
			color: #fff
			font-size: 2rem
			vertical-align: bottom
			cursor: pointer
			@include transition
			&:hover, &:focus
				color: #727272
			&:first-of-type
				margin-right: 30px
	&__wrap
		position: fixed
		display: none
		bottom: 0
		left: 0
		width: 100%
		padding: 20px
		height: auto
		background: #fff
		box-shadow: 0 0 20px rgba(70, 60, 53, 0.3)
	&__button
		display: inline-block
		margin-left: calc(50% - 100px)
		background: #faae0b
		background: linear-gradient(to right, #faae0b 0%,#f57d1e 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae0b', endColorstr='#f57d1e',GradientType=1 )
		width: 200px
		float: left
		text-align: center
		padding: 10px 10px
		text-transform: uppercase
		color: $headerNavLinkColor
		font-weight: 700
		border-radius: 5px
		box-shadow: 1px 1px 6px black
		transition: all .4s ease
		&:hover, &:focus
			color: $headerNavLinkColor
		&:hover.wobble-hor-bottom
			animation: wobble-hor-bottom 1s alternate backwards
@-webkit-keyframes wobble-hor-bottom
	0%,
	100%
		transform: translateX(0%)
		transform-origin: 50% 50%
	15%
		transform: translateX(-15px) rotate(-3deg)
	30%
		transform: translateX(7.5px) rotate(3deg)
	45%
		transform: translateX(-7.5px) rotate(-1.3deg)
	60%
		transform: translateX(4.5px) rotate(1.2deg)
	75%
		transform: translateX(-3px) rotate(-0.6deg)
/*---Footer---end---*/
/*---Hamburger---*/
.footer__mobileHam
	display: inline-block
	width: 60px
	cursor: pointer
	float: right
.footer__mobileHam-line
	width: 48px
	height: 5px
	border-radius: 2px
	margin: 6px
.footer__mobileHam:hover .footer__mobileHam-line
	transition: 0.4s ease-in-out
.clicked .footer__mobileHam-line--1
	width: 16px
.clicked .footer__mobileHam-line--2
	width: 32px
.clicked .footer__mobileHam-line--3
	width: 48px
.footer__mobileHam-line--1
	margin-top: 8px
	background: #F8B222
.footer__mobileHam-line--2
	background: #009891
.footer__mobileHam-line--3
	background: #F47A18
/*---Hamburger---end---*/
/*---Mobile---menu---*/
.header__mobileNav.open .header__mobileNav-list
	transform: translateX(0)
.header__mobileNav-list
	visibility: visible
	opacity: 1
	z-index: 3
	width: 170px
	background: #181818
	padding: 0
	margin: 0 auto
	list-style: none
	position: fixed
	top: 160px
	right: 0
	height: auto
	transform: translateX(105%)
	transition: all 0.5s ease-in-out
.header__mobileNav-item
	position: relative
	padding: 0
	margin: 0
.header__mobileNav-item:hover
	background: #323232
.header__mobileNav-item:hover .header__mobileNav-link
	border-left-color: #f46818
.header__mobileNav-link
	padding: 10px
	white-space: nowrap
	display: block
	font-size: 1.5rem
	color: $headerNavLinkColor
	transition: all .4s ease
	border-left: 15px solid
	border-left-color: #F47A18
	border-right: 5px solid transparent
	width: 100%
.header__mobileNav-link:hover,
.header__mobileNav-link:focus
	color: $headerNavLinkColor
	text-decoration: none
/*---Mobile---menu---end*/
.cloud__wrapper 
    width: 100%
    height: 100%
.header__cloud 
    width: 375px
    height: 375px
    top: 30px
    float: right
    position: relative
    background: none
.header__cloud-word:hover
    animation: heartbeat 1.5s ease-in-out infinite both
.header__cloud-word 
    position: absolute
    background-color: transparent
    display: inline-block
    animation-name: bounceIn
.header__cloud-word1 
    color: #ed3103
    font-size: 5rem
    text-transform: uppercase
    font-family: 'Anton', Arial sans-serif
    right: 50%
    top: 38%
    transform: rotateZ(-90deg)
    font-weight: 700
    letter-spacing: 10px
    position: absolute
.header__cloud-word2 
    color: #0e3400
    font-size: 2rem
    text-transform: uppercase
    font-weight: 700
    font-family: 'Wendy', Arial sans-serif
    right: 6%
    top: 4%
    letter-spacing: 9px
    position: absolute
.header__cloud-word3 
    color: #f0ec00
    font-size: 4rem
    position: absolute
    bottom: 9%
    right: 0
    transform: rotateZ(-90deg)
    font-weight: 700
.header__cloud-word4 
    color: #690011
    font-size: 5rem
    bottom: 44%
    font-weight: 700
    left: 30%
    font-family: 'Kreon', Arial sans-serif
    animation-delay: .55s
.header__cloud-word5 
    color: #496c0e
    font-size: 4rem
    top: 18%
    left: 35%
.header__cloud-word6 
    color: #398D97
    font-size: 2rem
    top: 3%
    left: 9%
    font-style: italic
    animation-delay: .2s
.header__cloud-word7 
    color: #f177f7
    font-size: 3rem
    bottom: 3%
    left: 7%
    font-style: italic
    animation-delay: .15s
.header__cloud-word8 
    color: #05d18d
    font-size: 4rem
    top: 49%
    right: 4%
    animation-delay: .25s
.header__cloud-word9 
    color: #362688
    font-size: 3rem
    top: 40%
    right: 4%
    animation-delay: .13s
.header__cloud-word10 
    color: #2aff77
    font-size: 3rem
    top: 11%
    left: 21%
    animation-delay: .05s
.header__cloud-word11 
    color: #ee389c
    font-size: 3rem
    top: 27%
    left: 21%
    animation-delay: .23s
.header__cloud-word12 
    color: #f8a154
    font-size: 4rem
    top: 20%
    right: 5%
    font-weight: 700
    animation-delay: .03s
.header__cloud-word13 
    color: #7e7cfc
    font-size: 3rem
    top: 52%
    left: 22%
    animation-delay: .17s
.header__cloud-word14 
    color: #cb2925
    font-size: 2rem
    bottom: 43%
    left: 55%
    animation-delay: .15s
.header__cloud-word15 
    color: #0f7f4c
    font-size: 3rem
    top: 13%
    left: 53%
    animation-delay: .05s
.header__cloud-word16 
    color: #2a7d90
    font-size: 3rem
    top: 30%
    left: 51%
    animation-delay: .14s
.header__cloud-word17 
    color: #8eb23f
    font-size: 2rem
    top: 9%
    left: 45%
    animation-delay: .25s
.header__cloud-word18 
    color: #5d010e
    font-size: 4rem
    bottom: 7%
    left: 26%
    letter-spacing: 5px
    font-family: 'Wendy', Arial sans-serif
    animation-delay: .2s
.header__cloud-word19 
    color: #96844b
    font-size: 2rem
    top: 39%
    left: 19%
    animation-delay: .27s
.header__cloud-word20 
    color: #714348
    font-size: 3rem
    top: 60%
    left: 63%
    animation-delay: .3s
.header__cloud-word21 
    color: #714348
    font-size: 3rem
    bottom: 18%
    left: 24%
    animation-delay: .17s
.header__cloud-word22 
    color: #2f183a
    font-size: 3rem
    bottom: 31%
    left: 30%
    animation-delay: .08s
.header__cloud-word23 
    color: #d0920f
    font-size: 3rem
    bottom: 25%
    left: 19%
    letter-spacing: 8px
    animation-delay: .28s
.header__cloud-word24 
    color: #158cd2
    font-size: 2rem
    bottom: 19%
    right: 22%
    font-weight: 700
    font-family: 'Anton', Arial sans-serif
    letter-spacing: 2px
    animation-delay: .21s
.header__cloud-word25 
    color: #396742
    font-size: 3rem
    bottom: 0
    left: 36%
    animation-delay: .11s
.animated
    animation-duration: 1s
    animation-fill-mode: both
.animated.infinite
    animation-iteration-count: infinite
.animated.bounceIn
    animation-duration: .75s
@keyframes heartbeat
    from
        transform: scale(1)
        transform-origin: center center
        animation-timing-function: ease-out
    10%
        transform: scale(.91)
        animation-timing-function: ease-in
    17%
        transform: scale(.98)
        animation-timing-function: ease-out
    33%
        transform: scale(.87)
        animation-timing-function: ease-in
    45%
        transform: scale(1)
        animation-timing-function: ease-out
.bounceIn
    animation-name: bounceIn
@keyframes bounceIn
    0%,
    100%,
    20%,
    40%,
    60%,
    80%
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    0%
        transform: scale3d(0, 0, 0)
    20%
        transform: scale3d(1.1, 1.1, 1.1)
    40%
        transform: scale3d(.8, .8, .8)
    60%
        transform: scale3d(1.04, 1.04, 1.04)
    80%
        transform: scale3d(.96, .96, .96)
    100%
        transform: scale3d(1, 1, 1)
@import "media" // Всегда в конце
